@import url('https://fonts.googleapis.com/css2?family=Griffy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Griffy&display=swap');
body {
    background-image: url('/img/pqp.jpg');
    background-size: cover;  
    background-position: center;  
    background-attachment: fixed;  
    font-family: 'Griffy', cursive;
    line-height: 1.6;
}
#cabecalho_paginaInicial{
   background-color: #161515f6;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  box-sizing: border-box; /* evita que padding quebre o layout */
}

#box_cadastro{
    font-family: 'Griffy', cursive;
background-color: rgba(0, 0, 0, 0.466); 
    padding: 20px;
    border-radius: 15px;
    color:  rgb(255, 255, 255);
    max-width: 500px;
    margin: 200px auto;
    font-size: xx-large;
    display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
    
    
}
#login {
  margin-right: 40px; /* ou 30px, ou 20px — ajusta como preferir */
}
button {
  background-color: transparent;
  color: white;
  border: 2px solid #8e44ad;
  padding: 10px 30px;
  border-radius: 8px;
  font-family: 'Courier New', monospace;
  font-size: 16px;
  cursor: pointer;
  display: block;
margin: 20px auto 0 auto;
  transition: all 0.3s ease;
 justify-content: center;
}

button:hover {
  background-color: #8e44ad;
  color: black;
  box-shadow: 0 0 10px #8e44ad;
  transform: scale(2.00);
}
